In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')
df_copy = df.copy

In [3]:
df.sample(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
1951,Female,18.904037,1.743589,133.281333,yes,yes,3.000000,3.000000,Sometimes,no,2.684819,no,1.465250,0.804491,Sometimes,Public_Transportation,Obesity_Type_III
1930,Female,25.982113,1.627818,105.428628,yes,yes,3.000000,3.000000,Sometimes,no,1.480750,no,0.098043,0.663492,Sometimes,Public_Transportation,Obesity_Type_III
1133,Male,34.098174,1.841151,91.798103,yes,yes,2.000000,2.997414,Sometimes,no,1.259454,no,0.935217,0.997600,Sometimes,Automobile,Overweight_Level_II
1587,Male,25.478662,1.858265,117.574570,yes,yes,2.028571,3.000000,Sometimes,no,2.530428,no,1.312570,0.066805,Sometimes,Public_Transportation,Obesity_Type_II
421,Male,18.000000,1.840000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight

Checking shape of data

In [4]:
df.shape

(2111, 17)

Looking for missing values

In [6]:
df.isna().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

Looking for duplicated values

In [7]:
df.duplicated().sum()

np.int64(24)

In [12]:
# The data contains 24 duplicated values which we will drop
df.drop_duplicates(inplace=True)

Basic Information and Descriptive Statistics

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2087 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2087 non-null   object
 1   Age                             2087 non-null   float64
 2   Height                          2087 non-null   float64
 3   Weight                          2087 non-null   float64
 4   family_history_with_overweight  2087 non-null   object
 5   FAVC                            2087 non-null   object
 6   FCVC                            2087 non-null   float64
 7   NCP                             2087 non-null   float64
 8   CAEC                            2087 non-null   object
 9   SMOKE                           2087 non-null   object
 10  CH2O                            2087 non-null   float64
 11  SCC                             2087 non-null   object
 12  FAF                             2087 non-null   float64
 13  TUE                             2087 non-null   float64
 14  CALC                            2087 non-null   object
 15  MTRANS                          2087 non-null   object
 16  NObeyesdad                      2087 non-null   object
dtypes: float64(8), object(9)
memory usage: 293.5+ KB

In [14]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2087.000000,2087.000000,2087.000000,2087.000000,2087.000000,2087.000000,2087.000000,2087.000000
mean,24.353090,1.702674,86.858730,2.421466,2.701179,2.004749,1.012812,0.663035
std,6.368801,0.093186,26.190847,0.534737,0.764614,0.608284,0.853475,0.608153
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.915937,1.630178,66.000000,2.000000,2.697467,1.590922,0.124505,0.000000
50%,22.847618,1.701584,83.101100,2.396265,3.000000,2.000000,1.000000,0.630866
75%,26.000000,1.769491,108.015907,3.000000,3.000000,2.466193,1.678102,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000